.contact_us_button_element {
  display: table;
  width: 100%;
  background-color: #2b8fb0;
  background-image: url(../images/star.png);
  background-repeat: no-repeat;
  background-position: 12px 6px;
  background-size: 90px;
  padding: 20px;
  color: white;
  font-size: 28px; }
  .contact_us_button_element .inner {
    display: table-cell;
    vertical-align: middle;
    padding: 0 25px; }
    .contact_us_button_element .inner .text {
      float: left;
      width: 70%;
      font-style: italic; }
    .contact_us_button_element .inner .button_wrap {
      float: left;
      width: 30%; }
      .contact_us_button_element .inner .button_wrap a {
        border-radius: 4px;
        background-color: white;
        color: #2b8fb0;
        font-size: 24px;
        padding: 10px 25px;
        text-align: center; }
      .contact_us_button_element .inner .button_wrap a:hover {
        background-color: #e6e6e6;
        text-decoration: none; }

/*# sourceMappingURL=calltoaction.css.map */
